* {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
    background-color: rgb(240, 202, 207);
}

article {
    padding: 20px;
}

.comments {
    padding: 20px;
}

form {
    display: inline-block;
    margin: 20px 0;
    padding: 10px;
    background-color: rgb(240, 202, 207);
    border: 1px solid black;
}

footer {
    padding: 20px;
    background-color: rgb(240, 202, 207);
    font-size: 11px;
    text-align: center;
}

.single-comment {
    padding: 10px;
}