* {
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
    background-color: rgb(240, 202, 207);
}

h1 a {
    color: black;
    text-decoration: none;
}

main {
    padding: 20px;
    margin-bottom: 50px;
}

article {
    padding: 20px;
}

.comments {
    padding: 20px;
    margin-bottom: 50px;
}

form {
    display: inline-block;
    margin: 20px 0;
    padding: 10px;
    background-color: rgb(240, 202, 207);
    border: 1px solid black;
}

.single-comment, .single-post {
    padding: 10px;
}

.list-title {
    padding: 10px;
}

.post-list-title a {
    padding: 4px;
    color: black;
    background-color: rgb(240, 202, 207);
}

.post-list-body {
    padding: 4px;
}